<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <a href="/people">Список пациентов</a> |
  <a href="/treatments">Лечение</a> |
  <a href="/invoices">Счета</a> |
  <a href="/dentists">Стоматологи</a> |
  <a href="/appointments">Записи на приём</a>

  <title>Все стоматологи</title>
</head>
<body>
<h2 style="color: pink; font-family: Arial, sans-serif; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">Все стоматологи:</h2>
<div th:each="dentist : ${dentists}">
  <a th:href="@{/dentists/{id}(id=${dentist.getId()})}" th:text="${dentist.getName()}"></a>
</div>
</body>
</html>
